body {
  font-size: 2.3vh;
  text-align: justify;
  margin: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main h2 {
  width: 100%;
}

h1 {
  font-size: 3.5vh;
  text-align: center;
}

h2 {
  font-size: 2.8vh;
  text-align: center;
  margin-top: 30px;
}

img {
  max-width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 0 9px gray;
  border-radius: 3px;
}

figure {
  margin: 28px 5px 5px;
}

@media screen and (min-width: 800px) {
  body {
    background-color: rgb(230, 230, 235);
    margin: 20px;
  }
  
  p {
    font-size: 2.7vh;
    line-height: 1.4em;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color: rgb(247, 238, 238);
    margin: 30px;
    max-width: 1260px;
  }
  
  p {
    font-size: 2.9vh;
    line-height: 1.6em;
  }

  figcaption {
    font-size: 2.4vh;
  }
}
