html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 10px;
}

header h1 {
  text-align: center;
  margin: 45px auto 35px;
}

li {
  margin-top: 4px;
}

h2 {
  margin-top: 30px;
}

article h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 4vh;
}

article p {
  text-align: justify;
  font-size: 2.3vh;
  line-height: 3.1vh;
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  body {
    background-color: rgb(237, 239, 243);
    margin: 60px 50px;
  }

  article h1 {
    margin: 45px auto;
    font-size: 7vh;
  }
  
  article p {
    text-align: justify;
    font-size: 5vh;
    line-height: 9vh;
  }
}