body {
  background-color: rgb(229, 230, 230);
  text-align: center;
}

h1 {
  margin: 5%;
}

#form-container {
  margin: 5% 20% 10%;
  display: flex;
  flex-direction: column;
}

#name-email-container {
  display: flex;
}

#resum {
  display: none;
}

#cid-est-mor-container {
  display: flex;
  align-items: center;

}

.form-group {
  margin: 2% auto 2%;
  padding: 0 2% 2%;
}

.datepicker {
  width: 300px;
}